@import "variables.css";

body {
  background-color: #f5f7fb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
}

.content {
  width: min(500px, 90vw);

  padding: 1.5rem;

  background: white;
  border-radius: 16px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.task-form {
  display: flex;
  gap: 0.75rem;
}

.task-form__input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 999px;
}

.task-form__button {
  border: none;
  border-radius: 999px;

  padding: 0.75rem 1.25rem;
  cursor: pointer;
  background-color: rgb(3, 117, 151);
  color: white;
  font-weight: 600;
}

.task-form__button:hover {
  background-color: rgb(6, 151, 196);
}

.task-list {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  padding: 0.75rem 1rem;

  background-color: #f1f3f5;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editable {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.check-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-container input {
  display: none;
}

.checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  position: relative;
  transition: 0.2s;
}

.check-container input:checked ~ .checkmark {
  background: #2196f3;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;

  left: 7px;
  top: 2px;

  width: 6px;
  height: 12px;

  border: solid white;
  border-width: 0 3px 3px 0;

  transform: rotate(45deg);
}

.check-container input:checked ~ .checkmark::after {
  display: block;
}

.task-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon--delete {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon--edit {
  width: 20px;
  transition-duration: 0.3s;
}

.svgIcon--delete path {
  fill: white;
}

.button--delete:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button--edit:hover {
  transition-duration: 0.3s;
  background-color: rgb(62, 146, 51);
  align-items: center;
}

.button--delete:hover .svgIcon--delete {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(5%);
}

.button--edit:hover .svgIcon--edit {
  width: 25px;
  transition-duration: 0.3s;
  transform: translateY(5%);
}

.task--completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.filters {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.filters__btn {
  font-size: 13px;
  padding: 0.6rem 0.8rem;
  background: white;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.filters__btn:hover,
.filters__btn:focus {
  background: rgb(211, 211, 211);
}

/* SEARCH BAR */

/* From Uiverse.io by alexruix */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 250px;
}

.search-input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #e9e9e9;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search-input::placeholder {
  color: #9e9ea7;
}

input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* END OF SEARCH BAR */

.hide {
  display: none;
}
